@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');
body{
    background-color:#EFEAE7;
    scroll-behavior: smooth;

}

/* .mybg{
  background-color: #F0BE0D;
  color: #3B3939;
} */

.bar{
    z-index: 1000;
    top: 0;
    overflow: hidden;
}

/* weekly specials card */
.card-bg{
    background-color: #198754;
    color: #fff;
}

.hedname{
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}

.swiper {
    /* width: 100%; */
    height: 100%;
  }
  /* scroll to top */
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #F0BE0D; /* Set a background color */
    color: #3B3939; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    height: 50px; /* Some padding */
    width: 50px;
    border-radius: 50%; /* Rounded corners */
    font-size: 25px; /* Increase font size */
    transition: 1s;
  }

  #myBtn:hover {
    background-color: #fff; /* Add a dark-grey background on hover */
    color: green;
    transition: 0.5s;
  }
  .pmg{
    transition: all 2s;

  }
  .pImg:hover {
    transform: scale(1.07);
    transition: transform 2s;

  }

  /* pb and pBtn for image card */
  .pB{
    position: relative !important;
  }

  .pBtn{
    position: absolute;
    bottom: 10px;

  }

  .pBtn2{
    position: absolute;
    bottom: 40px;
  }

  .mybody {
 height: 100vh !important;

  }

  /* header cart */
  .headerCart:hover {
    background-color: green;
    color: white;
  }

  /* input box qty input */
  .orderQtyInput{
    width:50px;
  }

  /* btn for home pizzas */

  .mainBtn{
    background-color: #F0BE0D;
    color: #3B3939;
    transition: 1s;
  }

  .mainBtn:hover {
    background-color: #fff; /* Add a dark-grey background on hover */
    color: green;
    transition: 0.5s;
  }

  .itemText{
    color: #F0BE0D;
    transition: 0.5s;
  }

  .itemText:hover {
    color: #EFEAE7;
  }

  /*  first page intro font */
  .myfont {
    font-family: 'Roboto Slab', 'serif';
    font-size: 20px;
  }
  .myfont2{
    font-family: 'Roboto Slab', 'serif';
  }

  /* products page cards */

  .productcard{
    width: 20rem;
    height: 20rem;
    background-color: #198754;
    color: #fff;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  .productimgdiv{
    width: 100%;
    height: 70%;
    object-fit: cover;
    overflow: hidden;
  }
  .productp{
    text-align: center;
  }

  /* slide bar shadow */
  .sldshdw{
    box-shadow: 1px -2px 24px 0px rgba(0,0,0,0.87);
-webkit-box-shadow: 1px -2px 24px 0px rgba(0,0,0,0.87);
-moz-box-shadow: 1px -2px 24px 0px rgba(0,0,0,0.87);
  }

  .stk{
    position: fixed;
    top: 30px;
    right: 0;
    z-index: 1000;
  }
  /* divided by names */
  .hname{
    font-family: 'Permanent Marker', cursive;
  }
